body { 
    background-color:rgb(75,0,0);
}
ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1D1D;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
p {
    color:white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#Defqon {
    display: block;
    margin: auto;
    width: 50%;
}
.page-content1 {
    margin: auto;
    padding: 15px;
    width: 1100px;
    border: 4px solid black;
    position: absolute;
    top: 85px;
    left: 101px;
    margin-bottom: 10px;
}
.page-content2 { 
    margin: auto;
    padding: 15px;
    width: 1100px;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 101px;
    margin-bottom: 10px;
}
#Insta {
    position: absolute;
    height: 45px;
    width: 45px;
    top: 18px;
    left: 1280px
}
#Facebook {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20px;
    left: 1230px 
}
div1 { 
    color: white;
    position: absolute;
    top: 29px;
    left: 1158px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#ICT {
    display: block;
    margin: auto;
    width: 50%;
}
#Website-werking {
    display: block;
    margin: auto;
    width: 50%;
}
.message {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}